*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --foreground: rgba(0,0,0,1);
    --background: rgba(255,255,255,1);

    --toggle-base: rgba(0,0,0,0.05);
    --toggle-stage: rgba(0,0,0,0.05);
    --toggle-select: rgba(0,0,0,0.1);

    --toggle-checked-base: rgba(0,0,0,1);
    --toggle-checked-stage: rgba(255,255,255,0.2);
    --toggle-checked-select: rgba(255,255,255,0.25);
}

html {
    height: 100%;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background: var(--background);
    color: var(--foreground);   
    transition: all 0.1s ease;
}

body {
    margin: 0;
    min-height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    line-height: 45px;
    letter-spacing: -0.03em;
}

ul {
    list-style: none;
    padding: 0;
}

select {
    font-family: inherit;
    font-size: inherit;
    border: none;
    background: none;
    padding: 0;
    border-radius: 0;
    color: inherit;
    outline: none;
}

button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    background: none;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    flex: none;
    outline: none;
}

.radio {
    display: inline-flex;
    background: var(--toggle-base);
    border-radius: 999px;
    padding: 2px;
    width: 200px;
    z-index: 0;
    position: relative;
}

.thumb {
    content: '';
    display: block;
    width: 98px;
    height: 36px;
    left: 2px;
    top: 2px;
    position: absolute;
    border-radius: 999px;
    z-index: 1;
    background: var(--toggle-checked-base);
    transition: all 0.1s ease;
}

input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

label {
    width: 98px;
    border-radius: 999px;
    padding: 5px 15px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    cursor: pointer;
    background: transparent;
    color: var(--foreground);
    transition: all 0.1s ease;
    user-select: none;
    position: relative;
    z-index: 2;
}

label:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    border-radius: 999px;
    pointer-events: none;
    z-index: -1;
    background: transparent;
}


svg {
    fill: var(--foreground);
    height: 12px;
    width: 12px;
}

label:hover:before,
label:focus:before {
    background: var(--toggle-stage);
}

label:active:before {
    background: var(--toggle-select);
}

:checked + label {
    color: var(--background);
}

:checked + label:hover:before,
:checked + label:focus:before {
    background: var(--toggle-checked-stage);
}

:checked + label:active:before {
    background: var(--toggle-checked-select);
}

:checked:nth-of-type(2) ~ .thumb {
    left: 100px;
}

.navigate {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    position: relative;
}

.navigate:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 999px;
    background: var(--toggle-base);
}

.navigate:hover,
.navigate:focus {
    background: var(--toggle-stage);
}

.navigate:active {
    background: var(--toggle-select);
}

.navigate.left {
    transform: rotate(180deg);
}

menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}
