*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --foreground: rgba(0,0,0,1);
    --background: rgba(255,255,255,1);

    --toggle-base: rgba(0,0,0,0.05);
    --toggle-stage: rgba(0,0,0,0.05);
    --toggle-select: rgba(0,0,0,0.1);

    --toggle-checked-base: rgba(0,0,0,1);
    --toggle-checked-stage: rgba(255,255,255,0.2);
    --toggle-checked-select: rgba(255,255,255,0.25);
}

html {
    height: 100%;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background: var(--background);
    color: var(--foreground);   
    transition: all 0.1s ease;
    font-weight: 300;
}

body {
    margin: 0;
    min-height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    line-height: 45px;
    letter-spacing: -0.03em;
    margin: 0 0 10px;
    font-weight: 700;
}

#scriptures-section {
    margin-top: 50px;
    flex: 1;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

select {
    font-family: inherit;
    font-size: inherit;
    border: none;
    background: none;
    padding: 0;
    border-radius: 0;
    color: inherit;
    outline: none;
    font-weight: 300;
    -webkit-appearance: none;
}

button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    background: none;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    flex: none;
    outline: none;
}

.radio {
    display: inline-flex;
    background: var(--toggle-base);
    border-radius: 999px;
    padding: 2px;
    width: 200px;
    z-index: 0;
    position: relative;
}

.thumb {
    content: '';
    display: block;
    width: 98px;
    height: 36px;
    left: 2px;
    top: 2px;
    position: absolute;
    border-radius: 999px;
    z-index: 1;
    background: var(--toggle-checked-base);
    transition: all 0.1s ease;
}

input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.toggle {
    width: 98px;
    border-radius: 999px;
    padding: 5px 15px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    cursor: pointer;
    background: transparent;
    color: var(--foreground);
    transition: all 0.1s ease;
    user-select: none;
    position: relative;
    z-index: 2;
}

.toggle:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    border-radius: 999px;
    pointer-events: none;
    z-index: -1;
    background: transparent;
}


svg {
    fill: var(--foreground);
}

.toggle:hover:before,
.toggle:focus:before {
    background: var(--toggle-stage);
}

.toggle:active:before {
    background: var(--toggle-select);
}

:checked + .toggle {
    color: var(--background);
}

:checked + .toggle:hover:before,
:checked + .toggle:focus:before {
    background: var(--toggle-checked-stage);
}

:checked + .toggle:active:before {
    background: var(--toggle-checked-select);
}

:checked:nth-of-type(2) ~ .thumb {
    left: 100px;
}

.navigate {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    position: relative;
}

.navigate:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 999px;
    background: var(--toggle-base);
}

.navigate:hover,
.navigate:focus {
    background: var(--toggle-stage);
}

.navigate:active {
    background: var(--toggle-select);
}

.navigate.right {
    transform: rotate(-90deg);
}

.navigate.left {
    transform: rotate(90deg);
}

menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 50px;
    padding: 0;
}

.select {
    margin: 0;
    transition: opacity 0.1s ease;
    cursor: pointer;
    margin: -10px;
    padding: 10px;
}

#date-chevron {
    margin-left: -20px;
    margin-bottom: 2px;
    pointer-events: none;
}

.select:hover,
.select:focus,
.select:hover ~ svg,
.select:focus ~ svg {
    opacity: 0.8;
}

.select:active,
.select:active ~ svg {
    opacity: 0.6;
}

a {
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    line-height: 25px;
    transition: all 0.1s ease;
    outline: none;
}

a:hover,
a:focus {
    opacity: 0.8;
}

a:active {
    opacity: 0.6;
}

.action {
    display: flex;
    min-height: 50px;
    color: var(--foreground);
    background: var(--toggle-base);
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.1s ease;
}

.action a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 20px;
    line-height: 20px;
}

.action select {
    display: flex;
    width: 80px;
    padding: 15px 35px 15px 20px;
    line-height: 20px;
    cursor: pointer;
    border-left: 1px solid var(--toggle-select);
}

.select-fixed-width {
    border: 1px solid blue;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
}


.chevron-positioner {
    position: relative;
}

.chevron {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    pointer-events: none;
}

.primary svg {
    margin-right: 5px;
}

.emphasis select {
    border-left: 1px solid var(--toggle-checked-select);
}

.emphasis {
    background: var(--toggle-checked-base);
    color: var(--background);
}

.emphasis svg {
    fill: var(--background);
}

.actions {
    margin-top: 50px;
}

.action a:hover,
.action a:focus,
.action select:hover,
.action select:focus {
    background: var(--toggle-stage);
}

.action a:active,
.action select:active {
    background: var(--toggle-select);
}

.emphasis a:hover,
.emphasis a:focus,
.emphasis select:hover,
.emphasis select:focus {
    background: var(--toggle-checked-stage);
}

.emphasis a:active,
.emphasis select:active {
    background: var(--toggle-checked-select);
}

#no-readings-message {
    margin: 50px 0 auto;
    font-weight: bold;
}

#date-select-width,
#audio-select-width,
#reading-select-width {
    display : none;
} 

details > summary {
    list-style: none;
}

details {
    display: flex;
    margin-top: 30px;
    font-size: 14px;
    line-height: 20px;
}

summary {
    outline: none;
    opacity: 0.5;
    cursor: pointer;
}

.content {
    display: flex;
}

.about {
    margin-left: auto;
    transition: all 0.1s ease;
}

.about:before {
    content: 'About';
}

summary:hover,
summary:focus {
    opacity: 0.6;
}

summary:active {
    opacity: 0.5;
}

details[open] .about:before {
    content: 'Close';
}

.message {
    margin-top: 10px;
}